<html xmlns:th="http://thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Mundo com Spring</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      	<!--Import materialize.css-->
      	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
         <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
    </head>
    <body>
    	<header>
		<nav class="menu">
		    <div class="nav-wrapper blue">
		      <a href="#" class="brand-logo">Carrinho de Compra</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/produtos" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Iniciar Compra</a></li>
		      </ul>
		    </div>
		</nav>
	
	</header>
    	
    	
      
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    </body>
</html>